build/
.gradle
out/
gradlew.bat

*.swo
*.swp
*.*~

generated-java
*.iml

**/build

*.log
schema

.idea/*
!.idea/vcs.xml
!.idea/codeStyles
!.idea/codeStyles/Project.xml
!.idea/codeStyles/codeStyleConfig.xml
!.idea/encodings.xml
!.idea/sqldialects.xml
!.idea/compiler.xml


